<ng-container *ngIf="cartItemsInput.cartItems.length">
    <ul>
        <li *ngFor="let cartItem of cartItemsInput.cartItems">
            {{cartItem.name}} - {{ parseNumberToString(cartItem.price) }} - Ilość: {{cartItem.quantity}} <br />
            Rabat ogólny na produkcie : {{ parseNumberToString(cartItem.getProductPrice()) }}<br />
            Suma produktów: {{ parseNumberToString(cartItem.getProductSum()) }}<br />
            <span (click)="increaseDecreaseItem(cartItem,'add')">Dodaj</span>&nbsp;
            <span (click)="increaseDecreaseItem(cartItem,'remove')">Usuń</span>
        </li>    
    </ul>    

    <span (click)="removeAllItemsFromCart()">
        Usun wszystkie
    </span>    
    <br />
    <b>
        Suma : {{ parseNumberToString(cartItemsInput.cartItemsSum) }}
    </b>    

</ng-container>    

<hr />