<div id="{{id}}" class="carousel slide" data-ride="carousel" [attr.data-interval]="stopSlideCarousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <ng-container *ngFor="let slide of slidesData;let i = index;">
            <li [attr.data-target]="'#'+id"  [attr.data-slide-to]="i" [ngClass] = "{ 'active' : i == 0 }" ></li>
        </ng-container>    
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <ng-container *ngFor="let slide of slidesData;let i = index;">
            <div class="carousel-item" [ngClass]="{ 'active' : i == 0 }">
                <img [attr.src]="slide['image']" alt="">
                <div class="carousel-caption">
                    <h3>
                        {{slide['name']}}
                    </h3>
                    <p>
                        {{slide['details']}}
                    </p>
                </div>
            </div>
        </ng-container>    
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" [attr.href]="'#'+id" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" [attr.href]="'#'+id" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>