<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th class="text-center" colspan="6">
                Moduł: {{moduleName}}
            </th>    
        </tr>    
        <tr>
            <ng-container *ngFor="let column of columns">
                <th class="text-center">
                    {{getColumnName(column)}}
                    <ng-container *ngIf="getObjectKey(column,'order')">
                        <svg (click)="sorting('desc')" #sortUp class="bi sort-up-alt asc" width="22" height="22" fill="£fff">
                            <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#sort-up-alt"/>
                        </svg>  
                        <svg (click)="sorting('asc')" #sortDown class="bi sort-down-alt desc" width="22" height="22" fill="£fff">
                            <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#sort-down-alt"/>
                        </svg>   
                    </ng-container>
                </th>
            </ng-container>    
        </tr>
    </thead>
    
    <tbody [sortablejs]="itemsView" [sortablejsOptions]="options">
        <ng-container *ngFor="let item of itemsView">
            <tr [attr.data-id]="item.id">
                <ng-container *ngFor="let item2 of item | keyvalue:keepOriginalOrder">
                    <ng-container *ngIf="item2.key == getColumnValue(item2.key,columns)['value']" [ngSwitch]="getColumnValue(item2.key,columns)['type']">
                        <ng-container *ngSwitchCase="'text'">
                            <td class="text-center">
                                {{ item2.value }}
                            </td> 
                        </ng-container>    
                        <ng-container *ngSwitchCase="'checkbox'">
                            <td class="text-center">
                                <input #active (click)="checkboxStatus(active.checked,item2['key'],item.id)" type="checkbox" class="form-check-input checkbox_menu" [checked]="item[item2['key']] == 1 ? true : false">
                            </td>    
                        </ng-container>    
                        <ng-container *ngSwitchCase="'anchor'">
                            <td class="text-center">
                                <a [routerLink]="[item.url]">
                                    {{item2.value}} 
                                </a>
                            </td>    
                        </ng-container>    
                        <ng-container *ngSwitchCase="'order'">
                            <td class="text-center sortItem">
                                {{item.order}} 
                            </td>
                        </ng-container>    
                    </ng-container>
                </ng-container>
            </tr>
        </ng-container>    
    </tbody>
</table>


